<header></header>
<form  #ChangePasswordForm="ngForm">
    <div class="clearfix">

        
        <div class="page_title clearfix">
            <div class="pull-left font_size_25">Change Password</div>           
        </div>
        <div class="row padding_top_10">
        <label class="col-sm-6 red" [hidden]="!chngPasswordNoMatch" title="Old Password">New and Confirm Password does not match.</label>
        </div>
        <div class="col-sm-24">
                <div class="row padding_top_10">
                   
                    <div class="col-sm-4">
                        <md-input-container>
                            <input mdInput type="password" name="oldPassword" id="oldPassword" [(ngModel)]="changePasswordObj.oldPassword" placeholder="Old Password" required>
                        </md-input-container>                        
                    </div>
                </div>
        </div>
         <div class="col-sm-24">
                <div class="row padding_top_10">
                   
                    <div class="col-sm-4">
                        <md-input-container>
                            <input mdInput type="password" name="newPassword" id="newPassword" [(ngModel)]="changePasswordObj.newPassword" placeholder="New Password" (blur)="matchPassword()" required>
                        </md-input-container>                        
                    </div>
                </div>
        </div>
         <div class="col-sm-24">
                <div class="row padding_top_10">
                   
                    <div class="col-sm-4">
                        <md-input-container>
                            <input mdInput type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="changePasswordObj.confirmPassword" placeholder="Confirm Password" (blur)="matchPassword()" required>
                        </md-input-container> 
                                               
                    </div>
                </div>
        </div>

        <div class="pull-left">

            <button md-raised-button color="primary" type="submit" id="Change" name="Change" value="Change" (click)="change()" [disabled]="!ChangePasswordForm.valid">Change</button>
            <button md-raised-button color="primary" name="Back" id="Back" value="Back" [routerLink]="['/customerSearch']">Back</button>
        </div>
    </div>
</form>


 